html, body {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden; /* 필요 시 스크롤 막기 */
  background-color: #f0f0f0;
}

.title-rectangle {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 560px;
  height: 72px;
  background-color: #686aff;
}

.title-text {
  width: 256px;
  height: 54px;
  left: 34px;
  top: 18px;
  font-family: Inter;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.adrres-input {
  width: 432px;
  height: 56px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 84px; 
  left: 10px;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 18px;
  font-family: Inter, sans-serif;
  border-color: #000;
  border : 1px solid;
  border-radius: 15px;
  box-sizing: border-box;
  transition: background 0.3s, border 0.3s;
}

.search-rectangle {
  left: 459px;
  top: 84px;
  position: absolute;
  width: 72px;
  height: 56px;
  background-color: #3B3636;
  border-color: #000000;
  border: 3px solid;
}

.search-text {
  width: 256px;
  height: 54px;
  left: 476px;
  top: 97px;
  font-family: Inter;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}