.best-text {
  width: 70px;
  height: 32px;
  left: 304px;
  top: 274px;
  font-family: Inter;
  font-weight: regular;
  color: #000000;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.AI-text {
  width: 80px;
  height: 32px;
  left: 404px;
  top: 274px;
  font-family: Inter;
  font-weight: regular;
  color: #000000;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.line2 {
  left: 240px;
  top: 368px;
  position: absolute;
  width: 1440px;
  height: 1px;
  object-fit: cover;
}

.login-text {
  width: 256px;
  height: 32px;
  left: 1507px;
  top: 274px;
  font-family: Inter;
  font-weight: bold;
  color: #000000;
  font-size: 28px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.title-text {
  width: 256px;
  height: 54px;
  left: 304px;
  top: 410px;
  font-family: Inter;
  font-weight: bold;
  color: #000000;
  font-size: 36px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}