.logo1 {
  color: #686BFF;
  position: absolute; /* 절대 위치 유지 */
  width: 200px;
  top: 43px;
  left: 230px;
  font-family: "Inter-BlackItalic", Helvetica;
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.line1 {
  top: 115px;
  position: absolute;
  width: 1440px;
  height: 1px;
  left: 205px;
  object-fit: cover;
}

.title-text {
  width: 311px;
  top: 144px;
  left: 234px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: left;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.line2 {
  top: 226px;
  position: absolute;
  width: 1440px;
  height: 1px;
  left: 205px;
  object-fit: cover;
}

.subtitle-text {
  width: 311px;
  top: 249px;
  left: 255px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: left;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.line3 {
  top: 319px;
  position: absolute;
  width: 1049px;
  height: 1px;
  left: 205px;
  object-fit: cover;
}

.payment-title {
  width: 220px;
  left: 1309px;
  top: 265px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: left;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.price-text {
  width: 220px;
  left: 1448px;
  top: 347px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #686BFF;
  font-size: 32px;
  text-align: left;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.payment-rectangle {
  position: absolute;
  width: 324px;
  height: 72px;
  top: 419px;
  left: 1310px;
  background-color: #686aff;
}

.payment-text {
  width: 220px;
  top: 435px;
  left: 1362px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.customer-box {
  position: absolute;
  left: 234px;
  top: 365px;
  width: 560px;
  height: 72px;
  background-color: #E4E4E4;
  border: 1px solid #787878;
  border-radius: 15px;
}

.customer-input {
  position: absolute;
  top: 380px;
  left: 265px; 
  width: 627px;
  border: none;
  background-color: transparent;
  color: #787878;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.post-box {
  position: absolute;
  left: 390px;
  top: 468px;
  width: 404px;
  height: 72px;
  background-color: #E4E4E4;
  border: 1px solid #787878;
  border-radius: 15px;
}

.post-input {
  position: absolute;
  left: 412px; 
  top: 483px;
  width: 404px;
  border: none;
  background-color: transparent;
  color: #787878;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.address-box {
  position: absolute;
  left: 234px;
  top: 568px;
  width: 1020px;
  height: 72px;
  background-color: #E4E4E4;
  border: 1px solid #787878;
  border-radius: 15px;
}

.address-input {
  position: absolute;
  left: 265px; 
  top: 583px;
  width: 404px;
  border: none;
  background-color: transparent;
  color: #787878;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.detail_address-box {
  position: absolute;
  left: 234px;
  top: 669px;
  width: 1020px;
  height: 72px;
  background-color: #E4E4E4;
  border: 1px solid #787878;
  border-radius: 15px;
}

.detail_address-input {
  position: absolute;
  left: 265px; 
  top: 684px;
  width: 404px;
  border: none;
  background-color: transparent;
  color: #787878;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.phone-box {
  position: absolute;
  left: 234px;
  top: 771px;
  width: 1020px;
  height: 72px;
  background-color: #E4E4E4;
  border: 1px solid #787878;
  border-radius: 15px;
}

.phone-input {
  position: absolute;
  left: 265px; 
  top: 786px;
  width: 404px;
  border: none;
  background-color: transparent;
  color: #787878;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.find_address-box {
  position: absolute;
  left: 234px;
  top: 468px;
  width: 144px;
  height: 72px;
  background-color: #E4E4E4;
  border: 1px solid #686BFF;
}

.find_address-text {
  width: 96px;
  top: 485px;
  left: 258px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: normal;
  color: #686BFF;
  font-size: 24px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.find_address-text {
  width: 96px;
  top: 485px;
  left: 258px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: normal;
  color: #686BFF;
  font-size: 24px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}